<div id="filter-counts">
	<div class="panel panel-default">
		<div class="panel-heading">Filtros</div>
		<div class="panel-body">
			<form class="form-group">
				<label>Buscar:</label>
				<input class="form-control" type="search" ng-model=search></input>
			</form>
		</div>
	</div>
</div>

<div class="buttons-bar">
	<button class="btn btn-success">Nova Conta</button>
	<button class="btn btn-danger" ng-click="filter_selecteds(counts)" ng-disabled="!has_selected_items(counts)">Remover Contas</button>
</div>

<div id="list-counts">
	<div class="panel panel-primary">
		<div class="panel-heading">Contas cadastradas</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><input id="ckb_select_all" type="checkbox" ng-model="count.selected" ng-change="select_all(counts)"></input></th>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Valor inicial</th>
						<th>Data da criação</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="count in counts | filter:search">
						<td><input type="checkbox" ng-model="count.selected" checked="count.selected"></input></td>
						<td>{{count.name}}</td>
						<td>{{count.description}}</td>
						<td>{{count.initial_value}}</td>
						<td>{{count.initial_date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>