<div id="filter-transactions">
	<div class="panel panel-default">
		<div class="panel-heading">Filtros</div>
		<div class="panel-body">
			<form class="form-group">
				<label>Buscar:</label>
				<input class="form-control" type="search" ng-model=search></input>
			</form>
		</div>
	</div>
</div>

<div class="buttons-bar">
	<button class="btn btn-success">Nova Conta</button>
	<button class="btn btn-danger" ng-disabled="!has_selected_items(favoreds)">Remover Favorecidos</button>
</div>

<div id="list-transactions">
	<div class="panel panel-primary">
		<div class="panel-heading">Lista de favorecidos</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><input id="ckb_select_all" type="checkbox" ng-model="favored.selected" ng-change="select_all(favoreds)"></input></th>
						<th>Nome</th>
						<th>Documento</th>
						<th>Endereço</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="favored in favoreds | filter:search">
						<th><input type="checkbox" ng-model="favored.selected" checked="favored.selected"></input></th>
						<td>{{favored.name}}</td>
						<td>{{favored.document}}</td>
						<td>{{favored.address}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>