<div id="filter-transactions">
	<div class="panel panel-default">
		<div class="panel-heading">Filtros</div>
		<div class="panel-body">
			<form class="form-group">
				<label>Buscar:</label>
				<input class="form-control" type="search" ng-model=search></input>
			</form>
		</div>
	</div>
</div>

<div class="buttons-bar">
	<button class="btn btn-success">Nova Conta</button>
	<button class="btn btn-danger" ng-disabled="!has_selected_items(transactions)">Remover Lançamentos</button>
</div>

<div id="list-transactions">
	<div class="panel panel-primary">
		<div class="panel-heading">Transações realizadas</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><input id="ckb_select_all" type="checkbox" ng-model="transaction.selected" ng-change="select_all(transactions)"></input></th>
						<th>Tipo</th>
						<th>Descrição</th>
						<th>Valor</th>
						<th><DATA></DATA></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="transaction in transactions | filter:search">
						<th><input type="checkbox" ng-model="transaction.selected"></input></th>
						<td>{{transaction.type}}</td>
						<td>{{transaction.description}}</td>
						<td>{{transaction.value}}</td>
						<td>{{transaction.date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>